/* button{
    padding: 10px;
    min-width: 10%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 36px;
}

button:hover{
    background-color: #e5e5dc;
}

.missed {
    background-color: #e76f51;
    color: white;
}


.succes {
    background-color: #2a9d8f;
    color: white;
} */