*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    margin-top: 50px;
    font-family: 'roboto', 'sans-serif';
}

header {
    margin-bottom: 25px;
    text-align: center;
    padding: 15px 0;
}

h2{
font-size: 24px;
}

h3{
    font-size: 36px;
    letter-spacing: 12px;
}

.leJeu {
    width: 60%;
    margin: auto;
}


.plateforme {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.lePendu{
    width: 25%;
}

.ecranDeJeu{
    background-color: #1f1e1e;
    width: 50%;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding : 15px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

.decompte{
    width: 25%;
}

.clavier{
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 25px;
}

.ligneClavier {
    display: flex;
    justify-content: center;
    gap:5px;
    padding-bottom: 5px; 
}

.trait{
    border-bottom: 1px white solid;
}

.start {
    margin-top: 25px;
    border: #2a9d8f 2px solid;
    border-radius: 15px;
    color: #2a9d8f;
}

.start:hover{
    background-color: #2a9d8f;
    color: white;
    border: 2px white solid;
}

img {
    width: 100%;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 1px;
}



#clear {
    width: 105px;
}
#delete {
    width: 105px;
}
#confirmer {
    width:550px;
}